

.nav {
    color: black;
    background-color: yellow;
    width: 100%;
    padding: 30px;
    text-align: center;
}

.navbar-item{
    color: black;
    height: 100%;
    padding: 25px;
}

.navbar-item:hover{
    background-color: white;
    color: black;
    
}

.center{
    text-align: center;
}


p {
    margin: 10px 200px;
    text-align: justify;
    color: white;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.body {
    width: 100%;
    height: 100%;
    position: fixed;
    display: block;
}

body {
    background-color: maroon;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

.tet {
    margin-left: 300px;
    margin-right: 300px;
   
}
 footer {
    position: relative;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    background-color: yellow;
    
 }

 footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
 }

 